{{ define "main" }}


  <div class="container py-5">
    <div class="card-deck">
      <div class="card text-center">
        <img
          src="/img/team/dwightdiesmo.png"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Dwight Diesmo</h2>
          <h6 class="card-text text-muted">CEO</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a
            class="li-ic text-foundation"
            href="https://www.linkedin.com/in/dwightdiesmo/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>
      <div class="card text-center">
        <img
          src="/img/team/xandersherer.png"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Xander Sherer</h2>
          <h6 class="card-text text-muted">Director of 805 Productions</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a class="li-ic text-foundation" href="#">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>
      <div class="card text-center">
        <img
          src="/img/team/sarahpence.jpeg"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Sarah Pence</h2>
          <h6 class="card-text text-muted">Director of Project 619</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a class="li-ic text-foundation" href="#">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-5">
    <div class="card-deck">
      <div class="card text-center">
        <img
          src="/img/team/dantegonzalez.png"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Dante Gonzalez</h2>
          <h6 class="card-text text-muted">Director of 805 DevOps</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a class="li-ic text-foundation" href="#">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>

      <div class="card text-center">
        <img
          src="/img/team/sarahwilliams.png"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Sarah Williams</h2>
          <h6 class="card-text text-muted">VP of Finance</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a
            class="li-ic text-foundation"
            href="https://www.linkedin.com/in/sarah-williams-545111181/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>

      <div class="card text-center border-0">
        <!-- <img
          src="https://images.unsplash.com/photo-1531266752426-aad472b7bbf4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"
          alt=""
          class="card-img-top rounded"
        /> -->
        <div class="card-body">
          <h2 class="card-title"></h2>
          <h6 class="card-text text-muted"></h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a class="li-ic text-dark" href="#">
            <!-- <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
