{{ define "main" }}

<div class="container-fluid bg-black opacity-8 text-center py-5">
    <div class="container">
      <img
        src="/img/masthead/header.png"
        alt=""
        class="pb-4 col-lg-8 col-md-6 col-12"
      />
      <div class="">
        <h4 class="text-foundation text-white py-4">
          The foundation for the personal and professional growth of identity and
          ideas.
        </h4>
        <a href="/services/" class="">
          <button class="btn btn-outline-foundation"> Explore our services</button>
        </a>
      </div>
    </div>
</div>

<div class="container">
  <h1 class="font-weight-bold">Current State of Education</h1>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
            School is a cycle of going to class, doing homework, and then repeating. 
            In terms, of extracurriculars, the main things reinforced are sports or community service opportunities. 
            School is based off this cookie cutter model. 
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1510531704581-5b2870972060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" class="card-img-top" alt="...">
    </div>
  </div> 
</div>

<div class="container">
  <h1 class="font-weight-bold">Student Growth Through Practical Experiences</h1>
  <div class="card-group">
      <div class="card">
          <img src="https://images.unsplash.com/photo-1510531704581-5b2870972060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" class="card-img-top" alt="...">
        </div>
    <div class="card">
      <div class="card-body">
        <p class="card-text">
            School is a cycle of going to class, doing homework, and then repeating. 
            In terms, of extracurriculars, the main things reinforced are sports or community service opportunities. 
            School is based off this cookie cutter model. 
        </p>
      </div>
    </div>
  </div> 
</div>

<div class="container">
    <h1 class="font-weight-bold">Rancho Campana High School</h1>
    <img src="" alt="" class="img-thumbnail">
    <div class="card-group">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1510531704581-5b2870972060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" class="card-img-top" alt="...">
          </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">
              School is a cycle of going to class, doing homework, and then repeating. 
              In terms, of extracurriculars, the main things reinforced are sports or community service opportunities. 
              School is based off this cookie cutter model. 
          </p>
        </div>
      </div>
    </div> 
  </div>

<div class="container">
    <h1 class="font-weight-bold">NewCo Foundation</h1>
    <div class="card-group">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1510531704581-5b2870972060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" class="card-img-top" alt="...">
          </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1510531704581-5b2870972060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" class="card-img-top" alt="...">
          </div>
    </div> 
  </div>

  <div class="container text-center">
    <h1 class="font-weight-bold">Go Beyond The Typical Classroom Setting</h1>
    <button class="btn btn-outline-foundation">Apply Now</button>
  </div>

  <div class="container py-5">
    <div class="card-deck">
      <div class="card text-center">
        <img
          src="/img/team/dwightdiesmo.png"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Dwight Diesmo</h2>
          <h6 class="card-text text-muted">CEO</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a
            class="li-ic text-foundation"
            href="https://www.linkedin.com/in/dwightdiesmo/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>
      <div class="card text-center">
        <img
          src="/img/team/xandersherer.png"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Xander Sherer</h2>
          <h6 class="card-text text-muted">Director of 805 Productions</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a class="li-ic text-foundation" href="#">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>
      <div class="card text-center">
        <img
          src="/img/team/sarahpence.jpeg"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Sarah Pence</h2>
          <h6 class="card-text text-muted">Director of Project 619</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a class="li-ic text-foundation" href="#">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-5">
    <div class="card-deck">
      <div class="card text-center">
        <img
          src="/img/team/dantegonzalez.png"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Dante Gonzalez</h2>
          <h6 class="card-text text-muted">Director of 805 DevOps</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a class="li-ic text-foundation" href="#">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>

      <div class="card text-center">
        <img
          src="/img/team/sarahwilliams.png"
          alt=""
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h2 class="card-title">Sarah Williams</h2>
          <h6 class="card-text text-muted">VP of Finance</h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a
            class="li-ic text-foundation"
            href="https://www.linkedin.com/in/sarah-williams-545111181/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
        </div>
      </div>

      <div class="card text-center border-0">
        <!-- <img
          src="https://images.unsplash.com/photo-1531266752426-aad472b7bbf4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"
          alt=""
          class="card-img-top rounded"
        /> -->
        <div class="card-body">
          <h2 class="card-title"></h2>
          <h6 class="card-text text-muted"></h6>
          <div class="row pt-5 pb-3 text-center"></div>
          <a class="li-ic text-dark" href="#">
            <!-- <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
