{{ define "main" }}

<div class="py-5"></div>
<!-- Undraw Color #ffa100 -->

<div class="container-fluid">
  <div class="text-center">
    <h3 class="text-uppercase font-weight-bold font-fugaz py-3">services</h3>
    <h6 class="pb-5">
      At 805 we have grown our skills and principles on practices that will help
      you grow your outreach in today's digital world.
    </h6>
  </div>

  <div class="container">
    <div class="card-deck px-5">
      <div class="row">
        <div class="card col-lg-4 col-md-12 col-12">
          <img
            src="/img/services/logodesign.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title font-fugaz text-orange">LOGO DESIGN</h5>
            <!-- <h6 class="card-text">
                  BOOK YOUR CONSULTATION
                </h6> -->
            <!-- <h6 class="card-text h6y-2">
                  Taking your concepts & bringing them to life. Our in-house designers
                  will create the perfect logo for your brand.
                </h6> -->
            <!-- <div class="card-text pb-3">
                  <h5 class="font-fugaz text-muted">From: $85</h5>
                </div> -->
            <div class="card-text text-center">
              <a
                href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2"
                target="_blank"
                class="text-decoration-none"
              >
                <button class="btn btn-outline-warning font-weight-bold">
                  Learn More
                </button>
              </a>
            </div>
          </div>
        </div>

        <div class="card col-lg-4 col-md-12 col-12">
          <img
            src="/img/services/videopromo.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title font-fugaz text-orange">VIDEO PROMO</h5>
            <div class="card-text text-center">
              <a
                href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2"
                target="_blank"
                class="text-decoration-none"
              >
                <button class="btn btn-outline-warning font-weight-bold">
                  Learn More
                </button>
              </a>
            </div>
          </div>
        </div>

        <div class="card col-lg-4 col-md-12 col-12">
          <img
            src="/img/services/webdesign.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title font-fugaz text-orange">WEB DESIGN</h5>
            <div class="card-text text-center">
              <a
                href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2"
                target="_blank"
                class="text-decoration-none"
              >
                <button class="btn btn-outline-warning font-weight-bold">
                  Learn More
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <div class="card col-lg-4 col-md-12 col-12">
          <img
            src="/img/services/socialmedia.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title font-fugaz text-orange">
              SOCIAL MEDIA
            </h5>
            <div class="card-text text-center">
              <a
                href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2"
                target="_blank"
                class="text-decoration-none"
              >
                <button class="btn btn-outline-warning font-weight-bold">
                  Learn More
                </button>
              </a>
            </div>
          </div>
        </div>

        <div class="card col-lg-4 col-md-12 col-12">
          <img
            src="/img/services/videoediting.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title font-fugaz text-orange">
              VIDEO EDITING
            </h5>
            <div class="card-text text-center">
              <a
                href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2"
                target="_blank"
                class="text-decoration-none"
              >
                <button class="btn btn-outline-warning font-weight-bold">
                  Learn More
                </button>
              </a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
