{{ define "main" }}

<!-- Undraw Color #ffa100 -->
<div class="card border-0">
  <img
    class="img-fluid card-img"
    src="/img/services/header.png"
    alt="Two employees looking at a computer"
  />
  <div class="card-img-overlay d-flex">
    <div class="my-auto mx-auto text-center">
      <h1 class="card-title font-weight-bold text-white font-fugaz px-5">
        CREATIVITY. MODERN. PERSONALIZED.
      </h1>
      <button class="btn btn-dark">
        <a href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2" target="_blank" class="text-decoration-none text-white">
          Request a Quote
        </a>
      </button>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="card-deck py-1">
    <div class="card col-lg-4 col-md-12 col-sm-12">
      <img src="/img/services/logodesign.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3 class="card-title font-fugaz text-dark">LOGO DESIGN</h3>
        <h6 class="card-text">
          BOOK YOUR CONSULTATION
        </h6>
        <!-- <h6 class="card-text h6y-2">
          Taking your concepts & bringing them to life. Our in-house designers
          will create the perfect logo for your brand.
        </h6> -->
        <div class="card-text pb-3">
          <h5 class="font-fugaz text-muted">From: $85</h5>
        </div>
        <div class="card-text text-center">
          <button class="btn btn-dark">
            <a href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2" target="_blank" class="text-decoration-none text-white">
              Book Now
            </a>
          </button>
        </div>
      </div>
    </div>

    <div class="card col-lg-4 col-md-12 col-sm-12">
      <img src="/img/services/videography.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3 class="card-title font-fugaz text-dark">VIDEOGRAPHY</h3>
        <h6 class="card-text">
          BOOK YOUR CONSULTATION
        </h6>
        <!-- <h6 class="card-text py-2">
          For impactful promotion video content for events, companies &
          influencers.
        </h6> -->
        <div class="card-text pb-3">
          <h5 class="font-fugaz text-muted">From: $50</h5>
        </div>
        <div class="card-text text-center">
          <button class="btn btn-dark">
            <a href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2" target="_blank" class="text-decoration-none text-white">
              Book Now
            </a>
          </button>
        </div>
      </div>
    </div>

    <div class="card col-lg-4 col-md-12 col-sm-12">
      <img
        src="/img/services/webdesign.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title font-fugaz text-dark">WEB DESIGN</h3>
        <h6 class="card-text">
          BOOK YOUR CONSULTATION
        </h6>
        <!-- <h6 class="card-text py-2">
          Bespoke websites tailored to your needs. Affordable & easy to edit for
          future modifications, we can help generate your digital presence.
        </h6> -->
        <div class="card-text pb-3">
          <h5 class="font-fugaz text-muted">From: $85</h5>
        </div>
        <div class="card-text text-center">
          <button class="btn btn-dark">
            <a href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2" target="_blank" class="text-decoration-none text-white">
              Book Now
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pb-5">
  <div class="card-deck py-1">
    <div class="card col-lg-4 col-md-12 col-sm-12">
      <img src="/img/services/socialmedia.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3 class="card-title font-fugaz text-dark">
          SOCIAL MEDIA
        </h3>
        <h6 class="card-text">
          BOOK YOUR CONSULTATION
        </h6>
        <!-- <h6 class="card-text h6y-2">
          Leverage the current trend towards social media to build your businesss or brand. Have a team dedicated towards developping your online presence so that you can focus on what's important.
        </h6> -->
        <div class="card-text pb-3">
          <h5 class="font-fugaz text-muted">From: $35/ Month</h5>
        </div>
        <div class="card-text text-center">
          <button class="btn btn-dark">
            <a href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2" target="_blank" class="text-decoration-none text-white">
              Book Now
            </a>
          </button>
        </div>
      </div>
    </div>

    <div class="card col-lg-4 col-md-12 col-sm-12">
      <img
        src="/img/services/videoediting.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title font-fugaz text-dark">
          VIDEO EDITING
        </h3>
        <h6 class="card-text">
          BOOK YOUR CONSULTATION
        </h6>
        <!-- <h6 class="card-text py-2">
          Spend more time making video and producing more content rather than spending hours editing videos. Just have us do it for you.
        </h6> -->
        <div class="card-text pb-3">
          <h5 class="font-fugaz text-muted">From: $20/ Video</h5>
        </div>
        <div class="card-text text-center">
          <button class="btn btn-dark">
            <a href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2" target="_blank" class="text-decoration-none text-white">
              Book Now
            </a>
          </button>
        </div>
      </div>
    </div>

    <div class="card col-lg-4 col-md-12 col-sm-12">
      <img src="/img/services/webhosting.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3 class="card-title font-fugaz text-dark">
          WEB HOSTING
        </h3>
        <h6 class="card-text">
          BOOK YOUR CONSULTATION
        </h6>
        <!-- <h6 class="card-text py-2">
          Have a team of web developpers at your command to manage the technical aspects
          of your website so you can spend time focusing on making better
          content.
        </h6> -->
        <div class="card-text pb-3">
          <h5 class="font-fugaz text-muted">From: $25/ Month</h5>
        </div>
        <div class="card-text text-center">
          <button class="btn btn-dark">
            <a href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2" target="_blank" class="text-decoration-none text-white">
              Book Now
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
