{{ define "main" }}

<div class="py-5"></div>
<!-- Undraw Color #ffa100 -->

<div class="container">
  <div class="text-center">
    <h3 class="text-uppercase font-weight-bold font-fugaz py-3">services</h3>
    <h6 class="pb-5">
      At 805 we have grown our skills and principles on practices that will help
      you grow your outreach in today's digital world.
    </h6>
  </div>

  <div class="card-deck">
    <div class="row">
      <div class="card border-0 col-lg-6 col-md-12 col-12 p-3">
        <img
          src="/img/services/graphicdesign.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title text-uppercase text-orange font-fugaz">
            graphic design
          </h5>
          <h6 class="card-text text-muted py-2">
            We design unique logos, artwork, and promotional material that
            inspires your audience to take action. With our help, your logo can
            build a credible image and create customer loyalty.
          </h6>
          <a href="/logodesign/" class="card-text"
            ><button class="btn btn-outline-warning">Learn More</button></a
          >
        </div>
      </div>

      <div class="card border-0 col-lg-6 col-md-12 col-12 p-3">
        <img
          src="/img/services/videoproduction.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title text-uppercase text-orange font-fugaz">
            video production
          </h5>
          <h6 class="card-text text-muted py-2">
            We specialize in high quality video production, commercial films and
            branded content. We work with agencies, brands and businesses of all
            shapes and sizes.
          </h6>
          <a href="/logodesign/" class="card-text"
            ><button class="btn btn-outline-warning">Learn More</button></a
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card border-0 col-lg-6 col-md-12 col-12 p-3">
        <img src="/img/services/webdesign.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title text-uppercase text-orange font-fugaz">
            web design
          </h5>
          <h6 class="card-text text-muted py-2">
            We offer custom Shopify or WordPress websites for local businesses,
            that are designed responsive, mobile friendly and SEO optimized.
          </h6>
          <a href="/logodesign/" class="card-text"
            ><button class="btn btn-outline-warning">Learn More</button></a
          >
        </div>
      </div>
      <div class="card border-0 col-lg-6 col-md-12 col-12 p-3">
        <img src="/img/services/socialmedia.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title text-uppercase text-orange font-fugaz">
            online marketing
          </h5>
          <h6 class="card-text">We build logos</h6>
          <a href="/logodesign/" class="card-text"
            ><button class="btn btn-outline-warning">Learn More</button></a
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card col-lg-6 col-md-12 col-12 p-3">
        <img src="/img/services/videoediting.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title text-uppercase text-orange font-fugaz">
            video editing
          </h5>
          <h6 class="card-text">We build logos</h6>
          <a href="/logodesign/" class="card-text"
            ><button class="btn btn-outline-warning">Learn More</button></a
          >
        </div>
      </div>

      <div class="card col-lg-6 col-md-12 col-12 p-3">
        <img
          src="/img/services/webmanagement.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title text-uppercase text-orange font-fugaz">
            web management
          </h5>
          <h6 class="card-text">We build logos</h6>
          <a href="/logodesign/" class="card-text"
            ><button class="btn btn-outline-warning">Learn More</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
