{{ define "main" }}

<div class="container-fluid bg-black opacity-8 text-center py-5">
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="container">
    <img
      src="/img/805productions/logo_white.png"
      alt=""
      class="pb-4 col-lg-4 col-md-6 col-6"
    />
    <div class="">
      <h6 class="text-monospace text-white py-4">
        A production studio focused on bold storytelling that grabs the
        attention. We support aspiring artists, filmmakers, and musicians
        develop their skills and reach a wider audience.
      </h6>
      <a href="#" class="">
        <button class="btn btn-outline-light">Visit 805 Productions</button>
      </a>
    </div>
  </div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
</div>

<div class="container-fluid bg-udemy opacity-8 text-center py-5">
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="container">
    <img src="/img/805devops/logo.png" alt="" class="col-lg-4 col-md-6 col-6" />
    <div class="">
      <h6 class="text-white py-3">
        The most elite software development team who's practices stem from the
        principle of continuous learning. We use modern technologies to develop
        websites, apps, and games that entertain, tell a story, and inspire.
      </h6>
      <a href="#" class="">
        <button class="btn btn-outline-light">Visit 805 DevOps</button>
      </a>
    </div>
  </div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
</div>

<div class="container-fluid bg-insta opacity-8 text-center py-5">
  <div class="py-1"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="container">
    <img
      src="/img/project619/logo.png"
      alt=""
      class="pb-4 col-lg-4 col-md-6 col-6"
    />
    <div class="">
      <h6 class="text-white py-3">
        A registered student organization built around the act of giving. We
        help non-profits and organizations build their digital presence by
        providing the entire 805 service for free. We also provide student
        volunteers who wish to help organizations fascilitate events or
        programs.
      </h6>
      <a href="/#/" class="">
        <button class="btn btn-outline-light">Visit Project 619</button>
      </a>
    </div>
  </div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-1"></div>
</div>

{{ end }}
