{{ define "main" }}

<div class="py-4"></div>

<div class="container-fluid bg-black text-center py-5">
  <div class="container">
    <img src="/img/805productions/logo_white.png" alt="" class="col-4" />
    <div class="">
      <h6 class="text-monospace text-white py-3">
        A production studio focused on bold storytelling that grabs the
        attention. We support aspiring artists, filmmakers, and musicians
        develop their skills and reach a wider audience.
      </h6>
      <button class="btn btn-outline-light">Visit 805 Productions</button>
    </div>
  </div>
</div>

<div class="container-fluid bg-success text-center py-5">
  <div class="container">
    <img src="/img/805devops/logo.png" alt="" class="col-4" />
    <div class="">
      <h6 class="text-monospace text-white py-3">
        A production studio focused on bold storytelling that grabs the
        attention. We support aspiring artists, filmmakers, and musicians
        develop their skills and reach a wider audience.
      </h6>
      <button class="btn btn-outline-light">Visit 805 Productions</button>
    </div>
  </div>
</div>

<div class="container-fluid bg-gradient text-center py-5">
  <div class="container">
    <img src="/img/project619/logo.png" alt="" class="col-4" />
    <div class="">
      <h6 class="text-monospace text-white py-3">
        A registered student organization built around the act of giving. We
        conduct several community service events, hosts community based, family
        friendly events and programs free for all, and annually we choose to
        focus on a large city project to leave a lasting impact in the city of
        San Diego.
      </h6>
      <button class="btn btn-outline-light">Visit 805 Productions</button>
    </div>
  </div>
</div>

{{ end }}
