{{ define "main" }}

<div class="container-fluid bg-peach opacity-8 text-center py-5">
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="container">
    <img
      src="/img/project619/logo2.png"
      alt=""
      class="col-lg-8 col-md-10 col-12"
    />
    <div class="text-white">
      <h4 class=" py-3">
        Empowering the compassionate who solve the world's biggest problems.
      </h4>
      <a href="https://project619.805.foundation/" class="">
        <button class="btn btn-outline-light">Visit Project 619</button>
      </a>
    </div>
  </div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-5"></div>
</div>

{{ end }}
