{{ define "main" }}

<div class="py-4"></div>

<div class="container text-left font-weight-bold">
  <h1 class="text-foundation">Full Catalog</h1>
</div>

{{ range.Pages }}

<div class="container">
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img
          src="/img/courses/webdevelopmenticon.png"
          class="card-img"
          alt="..."
        />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h1 class="card-title">{{ .Title }}</h1>
          <h4 class="card-title">@ {{ .Params.eventLocation }}</h4>
          <h6 class="card-title">{{ .Params.eventDate }}</h6>
          <h5 class="card-text">
            {{ .Params.oneLineDescription }}
          </h5>
          <a href="{{ .Params.externalLink }}" class="">
            <button class="btn btn-outline-foundation px-5">Sign Up</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}
