{{ define "main" }}

<div class="conatiner-fluid">
  <div class="card text-white border-0">
    <img
      class="img-fluid card-img"
      src="/img/about/header.png"
      alt="Two employees looking at a computer"
    />
  </div>
</div>

<div class="container-fluid bg-white">
  <div class="container bg-white p-5">
    <div class="row">
      <div class="col">
        <h1 class="font-fugaz">About Us</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col text-center">
            <h2 class="font-fugaz py-2">The Foundation</h2>
          </div>
          <p class="py-2">
            805 Foundation believes in investing in the younger generation. We
            believe that Universities or other educational institutions are not
            enough. Students need a way to develop practical experience to
            expand their knowledge beyond the typical classroom setting. We have
            helped students expand their horizons and gain new skills through
            work-based learning.
          </p>
        </div>
        <div class="row">
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col text-center">
              <img
                src="/img/805productions/logo.png"
                alt=""
                class="card-img-top"
              />
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="col text-center">
            <h3 class="font-fugaz py-2">Stories Worth Telling</h3>
          </div>
          <p class="py-2">
            805 Productions focuses on the entertainment industry producing
            shortfilms which are entered in local film festivals, capturing
            documentaries about San Diego locals, businessmen, or public
            figures, and creating promotional videos for companies, brands, or
            organizations. In the future, we plan on expanding towards podcasts,
            gaming, music, and dance.
          </p>
        </div>
        <div class="row">
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col text-center">
              <img src="/img/805devops/logo.png" alt="" class="card-img-top" />
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="col text-center">
            <h3 class="font-fugaz py-2">Students As A Service</h3>
          </div>
          <p class="py-2">
            805 DevOps is the software division that specializes in web, app,
            and game development creating portfolio websites, eccomerce
            websites, and more. We also produce in-house projects such as games
            or apps that we have distributed free for consumer use.
          </p>
        </div>
        <div class="row">
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col text-center">
              <img
                src="/img/project619/project619logo.png"
                alt=""
                class="card-img-top"
              />
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <div class="col text-center">
            <h3 class="font-fugaz py-2">The Initiative</h3>
          </div>
          <p class="py-2">
            Project 619 is how we give back to the community. We are a
            registered student organization at San Diego State University that
            actively participates in several community service events, hosts
            community based, family friendly events and programs free for all,
            and annually we choose to focus on one large city project to leave a
            lasting impact in the city of San Diego.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="font-fugaz">Clients</h2>
    </div>
  </div>

  <div class="row">
    <div class="card border-0 col-3">
      <a href="https://swoolu.com/" target="_blank" class="">
        <img src="/img/clients/swoolu.png" alt="" class="card-img-top" />
      </a>
    </div>
    <div class="card border-0 col-3">
      <a href="https://swoolu.com/" target="_blank" class="">
        <img src="/img/clients/sdsurha.png" alt="" class="card-img-top" />
      </a>
    </div>

  </div>
</div>
{{ end }}
