{{ define "main" }}

<div class="py-5"></div>
<div class="container text-center">
  <img src="/img/logo.png" alt="" class="img-thumbnail border-0" />
</div>

<div class="container col-lg-4 col-12">
  <p class="">
    805 Foundation is a non-profit organization operated by students who believe
    in giving back to their community by redefining education. <br /><br />
    Our organization came from humble beginnings founded in a dorm room in San
    Diego State University. In our initial phases, we reached out to other
    non-profit organizations to offer media services such as graphic design, web
    development, and social media marketing which was then executed by SDSU
    students who wanted to put the skills to the test. After a few months, 805
    Foundation was able to partner with nonprofits scattered throughout the
    state of California.
    <br /><br />

    While still in its earliest stage 805 Foundation became a supported program
    under NewCo Foundation, a non-profit conglomerate founded by serial
    entrepreneur Dave Gross. Under NewCo, 805 was able to broaden its reach to
    an international level such as Hack Iloilo.
    <br /><br />

    805 Foundation currently partners with several student run organizations who
    believe in giving back to the community. We collaborate with these
    organizations by providing digital services, co-organizing events and
    programs. We also develop workshops where student can learn about web
    development, app development, graphic design, etc.
    <br /><br />

    805 Foundation encourages students to expand their level of involvement
    beyond the typical classroom setting. We challenge students to solve real
    world problems and provide a network of industry professionals for
    mentorship. Our students acquire skills and training closely similar to the
    fundamental principles used in the industry. Our teams survey surrounding
    companies about the tools, practices, and methodology they use which becomes
    the foundation of the course content we facilitate. All of our work is
    provided free to all students to give everyone the equal opportunity to
    learn about their aspiring career fields.
    <br /><br />

    As for our goals for the future of 805 Foundation, it’s simple. We never
    want to stop encouraging students to gain practical skills and put it to
    practice.
  </p>
</div>

<div class="py-5"></div>
{{ end }}
