{{ define "main" }}

<header class="aboutmasthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12 bg-black opacity-8 py-4 px-4">
        <h6 class="font-weight-light text-monospace">ABOUT</h6>
        <h2 class="font-weight-light">805 Foundation</h2>
        <p class="lead">
          The foundation for the personal and professional growth of identity
          and ideas.
        </p>
        <a href="/contact/" class=""
          ><button
            class="btn btn-foundation text-foundation font-foundation px-3 py-1"
          >
            Let's Connect
          </button></a
        >
      </div>
    </div>
  </div>
</header>

<div class="py-4"></div>

<div class="container text-center">
  <h1 class="text-foundation font-weight-bold">
    805 Foundation
  </h1>
</div>

<div class="py-2"></div>

<div class="container">
  <p class="text-foundation">
    805 Foundation is a non-profit conglomerate operated by students at San
    Diego State University. We operate as a full-service media agency providing
    online marketing management, software development, and graphic design.
  </p>
  <p class="text-foundation">
    Our foundational belief revolves around developping relationships with our
    clients by helping them grow their brand and develop connections with our
    network of professionals, mentors, and like-minded entrepreneurs.
  </p>
</div>

<div class="py-4"></div>

<div class="container text-center">
  <h1 class="text-foundation font-weight-bold">
    Our Partners
  </h1>
</div>

<div class="container p-5">
  <div class="card-group justify-content-center">
    <div class="card border-0 col-lg-3 col-md-6 col-12">
      <a href="https://mattullerick.com/" target="_blank" class="">
        <img
          src="/img/clients/newco.png"
          alt=""
          class="card-img img-clients"
        />
      </a>
    </div>
  </div>
</div>

<div class="py-5"></div>
<div class="py-5"></div>
{{ end }}
