{{ define "main" }}
<div class="container-fluid text-center bg-white text-white">
  <div class="col-lg-12 text-center ">
    <img
      src="/img/project619/logocrop.png"
      alt=""
      class=" border-0 py-3"
      style="width:50em; height:auto"
    />
  </div>
</div>

<div class="container bg-white text-dark py-5 col-12">
  <iframe
    width="100%"
    height="600em"
    src="https://www.youtube.com/embed/MA_zTtF5WDc"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <hr />
</div>

<div class="container pb-5">
  <div class="row text-center">
    <div class="col-md-12">
      <h2 class="font-fugaz">Partners</h2>
    </div>
  </div>

  <div class="row">
    <div class="card border-0 col-3">
      <a href="https://swoolu.com/" target="_blank" class="">
        <img src="/img/clients/swoolu.png" alt="" class="card-img-top" />
      </a>
    </div>
  </div>

  <div class="row justify-content-center">
    <button class="btn btn-warning font-fugaz">
      <a href="https://goo.gl/forms/0wCUCuB7C8skhx0A3" target="_blank" class="text-decoration-none text-white">
        Apply for Partnership
      </a>
    </button>
  </div>
</div>

{{ end }}
