<footer class="container-fluid py-3 px-3">
    <hr class="">
  <div class="row">
    <div class="col-lg-6">
      <small class="text-foundation">
        Copyright &copy; 2016-2019, 805 Foundation – All Rights Reserved
      </small>
    </div>
    <div class="col-lg-3">
      <a class="ins-ic">
        <i class="fab fa-instagram fa-lg white-text mr-4 text-foundation"> </i>
      </a>
      <a class="ins-ic">
          <i class="fab fa-youtube fa-lg white-text mr-4 text-foundation"></i>
      </a>
      <a class="fb-ic">
        <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
      </a>
    </div>
    <div class="col text-decoration-none">
      <a href="" class="text-decoration-none text-foundation">
        <small class="">Privacy Policy</small>
      </a>
      <a href="" class="text-decoration-none text-foundation">
        <small class="">Terms and Conditions</small>
      </a>
      <a href="" class="text-decoration-none text-foundation">
        <small class="">Contact</small>
      </a>
    </div>
  </div>
</footer>
