<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand text-impact" href="/">
    <img
      src="/img/icon.png"
      width="auto"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    805 Foundation
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav text-impact text-uppercase">
      <a class="nav-item nav-link" href="/shows/">Shows</a>
      <a class="nav-item nav-link" href="/articles/">Articles</a>
      <a class="nav-item nav-link" href="/events/">Events</a>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Company
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/about/">About Us</a>
          <a class="dropdown-item" href="/careers/">Careers</a>
          <a class="dropdown-item" href="/team/">Meet Our Team</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="/contact/">Contact Us</a>
    </div>
  </div>
</nav>
