<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-black">
  <a class="navbar-brand" href="/">
    <img
      src="/img/logo/805foundationlogo.png"
      width="300"
      height="auto"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/videoproduction"
            >Video Production</a
          >
          <a class="dropdown-item" href="/softwaredevelopment"
            >Software Development</a
          >
          <a class="dropdown-item" href="/graphicdesign">Graphic Design</a>
        </div>
      </li> -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Programs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/805productions"
            >805 Productions</a
          >
          <a class="dropdown-item" href="/805devops"
            >805 DevOps</a
          >
          <a class="dropdown-item" href="/project619">Project 619</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="/about">About</a>
      <a class="nav-item nav-link" href="/team">Team</a>
      <a class="nav-item nav-link" href="/contact">Contact</a>
    </div>
  </div>
</nav>
