<div class="container-fluid bg-light">
  <div class="py-5"></div>
  <h1 class="text-picton text-center">Our Partners</h1>
  <div class="card-group">
    <div class="row">
      <div class="card bg-transparent border-0 col-lg-3 col-12">
        <img
          src="/img/partners/hopelogo.png"
          alt=""
          class="card-img img-grayscale"
        />
      </div>
      <div class="card bg-transparent border-0 col-lg-3 col-12">
        <img
          src="/img/partners/hackiloilologo.png"
          alt=""
          class="card-img img-grayscale"
        />
      </div>
      <div class="card bg-transparent border-0 col-lg-3 col-12">
        <img
          src="/img/partners/swoolulogo.png"
          alt=""
          class="card-img img-grayscale"
        />
      </div>
      <div class="card bg-transparent border-0 col-lg-3 col-12">
        <img
          src="/img/partners/tangentlogo.png"
          alt=""
          class="card-img img-grayscale"
        />
      </div>
    </div>
    <div class="row">
      <div class="card bg-transparent border-0 col-lg-3 col-12">
        <img
          src="/img/partners/betasigmalogo.png"
          alt=""
          class="card-img img-grayscale"
        />
      </div>
    </div>
  </div>

  <div class="py-5"></div>
</div>
