{{ define "main" }}

<div class="card border-0">
    <img
      class="img-fluid card-img"
      src="/img/404.png"
      alt="Two employees looking at a computer"
    />
    <!-- <div class="card-img-overlay d-flex">
      <div class="my-auto mx-auto text-center">
        <button class="btn btn-dark">
          <a href="https://goo.gl/forms/Q0Ywkwuxv7lDGvUF2" target="_blank" class="text-decoration-none text-white">
            Request a Quote
          </a>
        </button>
      </div>
    </div> -->
  </div>

{{ end }}
