{{ define "main"}}

<div class="container text-center">
  <div class="py-5"></div>
  <div class="card border-0">
    <img
      src="/img/undraw/under_construction.svg"
      alt=""
      class="card-img w-100"
    />
    <div class="card-img-overlay py-5">
      <div class="" style="height: 50%"></div>
      <h1 class="">
        <span class="text-white bg-orange px-4 py-1">
          404
        </span>
      </h1>
    </div>
  </div>
  <div class="py-5"></div>
</div>

<div class="container text-center">
  <div class="card-deck justify-content-center">
    <div class="card border-0">
      <a href="https://instagram.com/805foundation/?hl=en" class="">
        <button class="btn btn-lg btn-block btn-orange px-5 py-3 align-center">
          <i class="fab fa-instagram fa-2x"></i>
        </button>
      </a>
    </div>
    <div class="card border-0">
      <a href="/" class="">
        <button class="btn btn-lg btn-block btn-picton px-5 py-3 align-center">
          <i class="fas fa-home fa-2x"></i>
        </button>
      </a>
    </div>
    <div class="card border-0">
      <a href="/events/" class="">
        <button class="btn btn-lg btn-block btn-dark px-5 py-3 align-center">
          <i class="fas fa-calendar-day fa-2x"></i>
        </button>
      </a>
    </div>
  </div>
  <div class="py-4"></div>
</div>

{{ end }}
