{{ define "main" }}

<div class="py-4"></div>
<div class="py-1"></div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="text-center">
      <div class="" style="height:15em;"></div>
      <h1
        class="text-uppercase font-weight-bold font-foundation text-foundation py-3"
      >
        who we are
      </h1>
      <p class="text-foundation">
        Welcome to 805! We are a full-service agency for the 21st century. We
        help businesses, aspiring entrepreneurs, and individuals grow their
        company or brand by providing a staff of developpers, designers, and
        marketing specialist ready at their beck and call. We deliver hard work
        and heart because we believe in caring about our 805 family.
      </p>
      <a href="/805family/" class=""
        ><button class="btn text-foundation font-foundation text-uppercase">
          explore the 805 family
        </button></a
      >
      <div class="" style="height:15em;"></div>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <h2 class="text-foundation font-weight-bold font-foundation text-uppercase">
    Culture
  </h2>
  <p class="text-foundation">Culture</p>
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-fdbfea43-b560-44ba-9e37-52af07fdad0c"></div>
</div>

{{ partial "contact" . }}

{{ end }}
