{{ define "main" }}

<div class="container-fluid bg-black">
  <iframe
    width="100%"
    height="700px"
    src="https://www.youtube.com/embed/CTv47bYLtsY?autoplay=1"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="py-5"></div>

<div class="container">
  <h1 class="text-picton text-center">Our Model</h1>
  <div class="py-5"></div>
  <div class="card-deck">
    <div class="card border-0 col-lg-5 col-12">
      <img src="/img/undraw/scrum_picton.svg" alt="" class="card-img" />
    </div>
    <div class="card border-0 p-5 col-lg-7 col-12">
      <h1 class="card-title text-orange">Start listening</h1>
      <p class="">
        Our instinct is often to start something new. What we really need to do
        is find people who are already working on these problems... listen to
        them.. and see what's possible through our support.
      </p>
    </div>
  </div>
</div>
<div class="py-5"></div>
<div class="container">
  <div class="card-deck">
    <div class="card border-0 col-lg-5 col-12 hidden-md-up">
      <img src="/img/undraw/chat_picton.svg" alt="" class="card-img" />
    </div>
    <div class="card border-0 p-5 col-lg-7 col-12">
      <h1 class="card-title text-orange">Collaboration is key</h1>
      <p class="">
        We tend to work in silos. What we really need to do is make it easier
        for organizations, government, and others to come together and drive
        impact.
      </p>
    </div>
    <div class="card border-0 col-lg-5 col-12 hidden-lg-down">
      <img src="/img/undraw/chat_picton.svg" alt="" class="card-img" />
    </div>
  </div>
</div>
<div class="py-5"></div>
<div class="container">
  <div class="card-deck">
    <div class="card border-0 col-lg-5 col-12">
      <img src="/img/undraw/schedule_picton.svg" alt="" class="card-img" />
    </div>
    <div class="card border-0 p-5 col-lg-7 col-12">
      <h1 class="card-title text-orange">Think long-term</h1>
      <p class="">
        We are so focused on what's possible in 1 year, 2 years, 3 years. In
        reality, the issues we face are far more complex. What we really need to
        be doing is looking at 5 years, 10 years, and beyond to scale impact in
        a meaningful way.
      </p>
    </div>
  </div>
</div>

<div class="py-5"></div>

<div class="container">
  <h1 class="text-picton text-center">Our Collaborative Approach</h1>
  <div class="py-5"></div>
  <div class="card-deck">
    <div class="card border-0 col-lg-4">
      <p class="">
        805 Foundation is a non-profit global collaborative focused on systems
        change to improve the lives of millions by advancing education,
        developing supportive technology, and providing economic opportunity.
        <br /><br />
        We believe collaboration is the answer to solving the world's most
        pressing challenges. We bring together sponsors, schools, and other
        organizations to pool resources, networks, and expertise to enable
        lasting change at scale.
        <br /><br />
        We identify and support philanthropic organizations and individuals,
        investing over the long-term to help address obstacles and limitations
        that impede human progress.
        <br /><br />
        Changing systems is complex and challenging so we are always looking for
        like-minded people. By collaborating, and creating a platform for others
        to join, 805 Foundation and its partners seek to achieve far more
        together than any one actor could do alone.
      </p>
    </div>
    <div class="card border-0">
      <img src="/img/undraw/growth_picton.svg" alt="" class="card-img" />
    </div>
  </div>
</div>

<div class="py-5"></div>

<div class="container-fluid bg-picton">
  <div class="py-5"></div>
  <h1 class="text-white text-center">
    Our Featured Stories
  </h1>
  <div class="py-3"></div>
  <div class="card-deck">
    <div class="card">
      <a href="#!" class="text-decoration-none">
        <img src="/img/blog/philippines/vertical.png" alt="" class="card-img" />
        <div class="card-body">
          <p class="card-text text-secondary">
            805 Foundation
          </p>
          <h5 class="card-title text-dark">
            The Philippines Initiative
          </h5>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="#!" class="text-decoration-none">
        <img src="/img/blog/hope/survivor.png" alt="" class="card-img" />
        <div class="card-body">
          <p class="card-text text-secondary">
            H.O.P.E. Organization
          </p>
          <h5 class="card-title text-dark">
            Empowering The Youth
          </h5>
        </div>
      </a>
    </div>
    <div class="card">
      <a href="#!" class="text-decoration-none">
        <img src="/img/blog/newco/welding.png" alt="" class="card-img" />
        <div class="card-body">
          <p class="card-text text-secondary">
            NewCo Foundation
          </p>
          <h5 class="card-title text-dark">
            Our Origin Story
          </h5>
        </div>
      </a>
    </div>
  </div>
  <div class="py-5"></div>
</div>

{{ partial "partners" . }}

{{ partial "mailchimpform" . }}

{{ partial "contactform" . }}

{{ end }}
