{{ define "main" }}

<div class="py-4"></div>

<div class="container text-center py-5">
  <h1 class="text-foundation display-4  font-weight-bold">
    We Empower Students <br />
    for a Limitless Future.
  </h1>
</div>

<div class="container-fluid bg-black opacity-8 text-center">
  <div class="container">
    <iframe
      class="col-12"
      height="500px"
      src="https://www.youtube-nocookie.com/embed/8JwJsvh0Dk8?autoplay=1"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div class="">
      <!-- <h4 class="text-foundation text-white py-4">
        Empower students for a limitless future
      </h4> -->
      <!-- <a href="/courses/" class="">
        <button class="btn btn-outline-foundation">Explore our Courses</button>
      </a> -->
    </div>
  </div>
</div>

<div class="container text-center col-8 py-5">
  <h1 class="text-foundation">
    Our goal is to expand student learning beyond the typical classroom setting
  </h1>
</div>
<div class="container text-center">
  <a href="/courses/" class="">
    <button class="btn btn-outline-foundation px-5">Learn More</button>
  </a>
</div>

<header class="masthead1">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12">
        <h6 class="font-weight-light text-monospace">COMMUNITY</h6>
        <h2 class="font-weight-light">The Philippines Initiative</h2>
        <p class="lead">
          Our work in the Philippines combines entrepreneurship, engineering,
          and education
        </p>
        <a href="" class=""
          ><button
            class="btn btn-foundation text-foundation font-foundation px-3 py-2"
          >
            Coming Soon
          </button></a
        >
      </div>
    </div>
  </div>
</header>

<div class="py-3"></div>

<div class="container-fluid py-5">
  <div class="container col-8">
    <h6 class="text-monospace text-foundation text-uppercase text-center py-2">
      8 0 5
    </h6>
    <div class="row text-foundation py-2">
      <div class="col-lg-6 col-12">
        <h4 class="font-weight-bold">Courses</h4>
      </div>
      <div class="col-lg-6 col-12">
        <h6 class="">
          We survey companies about the tools, skills, and principles they use
          in the industry. Their response shapes the course content of our
          classes to ensure that our students receive practical experiences.
        </h6>
      </div>
    </div>
    <div class="row text-foundation py-2">
      <div class="col-lg-6 col-12">
        <h4 class="font-weight-bold">Events</h4>
      </div>
      <div class="col-lg-6 col-12 py-2">
        <h6 class="">
          We organize events, workshops, and engagements where individuals can
          share ideas, network, and collaborate with others.
        </h6>
      </div>
    </div>
    <div class="row text-foundation">
      <div class="col-lg-6 col-12">
        <h4 class="font-weight-bold">Community</h4>
      </div>
      <div class="col-lg-6 col-12">
        <h6 class="">
          We partner with non-profit organizations who's actions and missions we
          believe in and collaborate to organize programs or events as our way
          of providing services to the community.
        </h6>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <a href="/apply/" class=""
    ><button
      class="btn btn-outline-foundation text-foundation font-foundation px-5 py-2"
    >
      Get Involved
    </button></a
  >
</div>

<div class="py-5"></div>

<header class="masthead2">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12">
        <h6 class="font-weight-light text-monospace">PARTNERS</h6>
        <h2 class="font-weight-light">H.O.P.E. Organization</h2>
        <p class="lead">
          Our combined effort to help out people everywhere
        </p>
        <a href="#!" class=""
          ><button
            class="btn btn-foundation text-foundation font-foundation px-3 py-2"
          >
            Coming Soon
          </button></a
        >
      </div>
    </div>
  </div>
</header>
<header class="masthead3">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-white">
      <div class="col-12">
        <h6 class="font-weight-light text-monospace">EVENTS</h6>
        <h2 class="font-weight-light">Hackathons</h2>
        <p class="lead">
          We organize hackathons that challenge students to solve real world
          problems
        </p>
        <a href="#!" class=""
          ><button
            class="btn btn-foundation text-foundation font-foundation px-3 py-2"
          >
            Coming Soon
          </button></a
        >
      </div>
    </div>
  </div>
</header>
<!-- <div class="container">
  <div class="row align-items-center no-gutters mb-4 mb-lg-5">
    <div class="col-xl-8 col-lg-7">
      <img
        class="img-fluid mb-3 mb-lg-0"
        src="img/masthead/cmffall18.png"
        alt=""
      />
    </div>
    <div class="col-xl-4 col-lg-5">
      <div class="text-center text-lg-left">
        <h4>Campus Movie Fest - 2018</h4>
        <p class="text-black-50 mb-0">
          Xander Sherer leads a team of filmmakers in developping a short film
          for the Campus Movie Fest Film Festival.
        </p>
      </div>
    </div>
  </div>

  <div class="row align-items-center no-gutters mb-4 mb-lg-5">
    <div class="col-xl-4 col-lg-5">
      <div class="text-center text-lg-left">
        <h4>ISCOF - 2019</h4>
        <p class="text-black-50 mb-0">
          Dwight Diesmo travels abroad to the Philippines to spread his
          knowledge in software engineering and the future of IT.
        </p>
      </div>
    </div>
    <div class="col-xl-8 col-lg-7">
      <img
        class="img-fluid mb-3 mb-lg-0"
        src="img/masthead/iscof2.png"
        alt=""
      />
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid text-center py-5">
  <h2 class="text-foundation font-weight-bold font-foundation text-uppercase">
    Culture
  </h2>
  <p class="text-foundation">Culture</p>
</div> -->

<!-- {{ partial "contact" . }} -->

{{ end }}
