/* Global */
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  border-left: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 3em;
}
/* Opacity */
.opacity-8 {
  opacity: 0.85;
}
/* Background Colors */
.bg-insta {
  background-image: linear-gradient(to bottom right, #6200b3, #f40c84);
}
.bg-udemy {
  background-image: linear-gradient(to bottom right, #5c1734, #da4a4c);
}
.bg-black {
  background-color: #000000;
}
.bg-foundation {
  background-color: #6200b3;
}
.bg-contact {
  background-image: url("/img/contact/globe.jpg");
  background-color: #000000;
}

/* Font */
.font-foundation {
  font-family: "Fugaz One", cursive;
}

/* Text Colors */
.text-black {
  color: #000000;
}
.text-foundation {
  color: #000000;
}
.text-foundation:hover {
  color: #6200b3;
  transition-duration: 0.6s;
}

/* Border Width */
.border-0 {
  border-width: 0em;
}

/* Buttons */
.btn-outline-foundation{
  border-width: 1px;
  border-color: #6200b3;
  background-color: transparent;
  color: #6200b3;
}
.btn-outline-foundation:hover {
  background-color: #6200b3;
  color: #ffffff;
  transition-duration: .5s;
  
}


/* Pricing */
section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
