{{ define "main" }}

<header>
  <div class="overlay"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
  >
    <source
      src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4"
      type="video/mp4"
    />
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <img
          src="/img/805productions/logo_white.png"
          alt=""
          class=" border-0 pt-5"
          style="width:10em; height:auto"
        />
        <p class="lead mb-0 pt-4">A creative platform for bold storytelling.</p>
      </div>
    </div>
  </div>
</header>

<div class="py-5"></div>

<div class="container pb-5">
  <h3 class="font-weight-bold">Portfolio</h3>

  <div class="card-deck">
    <div class="card">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/AZiekRnit6A"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body font-fugaz">
        <h5 class="card-title">Campus Movie Fest Promo</h5>
        <h6 class="card-text text-muted">
          Campus Movie Fest
        </h6>
      </div>
    </div>
    <div class="card">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/AZiekRnit6A"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body font-fugaz">
        <h5 class="card-title">Campus Movie Fest Promo</h5>
        <h6 class="card-text text-muted">
          Campus Movie Fest
        </h6>
      </div>
    </div>
    <div class="card">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/AZiekRnit6A"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body font-fugaz">
        <h5 class="card-title">Campus Movie Fest Promo</h5>
        <h6 class="card-text text-muted">
          Campus Movie Fest
        </h6>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid text-center bg-white text-white">
  <div class="col-lg-12 text-center ">
    <img
      src="/img/805productions/805productionslogo_black.png"
      alt=""
      class=" border-0 pt-5"
      style="width:10em; height:auto"
    />
  </div>
</div> -->

{{ end }}
